<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mrsun.bootserver.Respository.PermissionRepository">
    <sql id="baseColumn">
        p.id, p.parent_id, p.name, p.path, p.component, p.title, p.icon, p.code, p.url, p.type, p.sort_no,
        p.is_leaf, p.del_flag, p.create_by, p.create_time, p.update_by, p.update_time
    </sql>

    <resultMap id="BaseResultMap" type="com.mrsun.bootserver.entity.Permission">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="code" property="code"/>
        <result column="url" property="url"/>
        <result column="type" property="type"/>
        <result column="sort_no" property="sortNo"/>
        <result column="is_leaf" property="isLeaf"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="selectPermissionsByUserId" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        SELECT
        <include refid="baseColumn"/>
        FROM sys_user u
        JOIN sys_user_role ur ON u.id = ur.user_id
        JOIN sys_role r ON ur.role_id = r.id
        JOIN sys_role_permission rp ON r.id = rp.role_id
        JOIN sys_permission p ON rp.permission_id = p.id
        WHERE u.id = #{userId}
        ORDER BY p.sort_no
    </select>

    <select id="selectPermissionsByUsername" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        SELECT
        <include refid="baseColumn"/>
        FROM sys_user u
        JOIN sys_user_role ur ON u.id = ur.user_id
        JOIN sys_role r ON ur.role_id = r.id
        JOIN sys_role_permission rp ON r.id = rp.role_id
        JOIN sys_permission p ON rp.permission_id = p.id
        WHERE u.username = #{username}
        ORDER BY p.sort_no
    </select>
</mapper>
